<div class="person-card home-card" itemprop="blogPosts" itemscope="" itemtype="http://schema.org/BlogPosting">

  < !--a href="{{ person.url | relative_url }}"-->  < !-- for link to website -->
      {% if post.featured-img %}
      <figure class="person-card__thumb">
        <img
          src="/assets/img/posts/2016team.JPG"
          data-srcset="/assets/img/posts/2016team.JPG, /assets/img/posts/2016team.JPG 2x"
          class="lazyload blur"
          alt="{{person.title}}"
        />
        <noscript><img src="/assets/img/posts/2016team.JPG" alt="{{ person.title }}"></noscript>
      </figure>
    {% else %}
      <figure class="person-card__thumb">
        <div class="dark-bg"></div>
      </figure>
    
  </a>
  <a class="person-card__inner" href="{{ person.url | relative_url }}">
    <div class="person-card__header">
      <h2>{{ person.title | strip_html | truncate: 50 }}</h2>

    </div>

  </a>
</div>
