<!--

<br>

<div class="row">
  <div class="column">
    <div class="card">
      <img src="assets/img/posts/teamHeadshots/SUIT-EDITED.png" alt="Hunter" style="width:100%">
      <div class="container">
        <h2>Hunter Waytt</h2>
        <p class="title">WE Design Team Leader</p>
                
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="assets/img/posts/teamHeadshots/headshot_Tyson_Nov_2022_edit.jpg" alt="Tyson" style="width:100%">
      <div class="container">
        <h2>Tyson Dueck</h2>
        <p class="title">Electrical Lead</p>

      </div>
    </div>
  </div>
  

   </div>
  <div class="row">
   <div class="column">
    <div class="card">
      <img src="assets/img/posts/teamHeadshots/Brayden_Headshot_Competition2022_c.png" alt="Brayden" style="width:100%">
      <div class="container">
        <h2>Brayden de Groot</h2>
        <p class="title">Mechanical Lead</p>
      </div>
    </div>
  </div>
    
</div>
-->

<div class="post-card" itemprop="blogPosts" itemscope="" itemtype="http://schema.org/BlogPosting">
  {% if post.featured-img %}

    <figure class="{{sponsorType}} post-card__thumb">

      <!-- <img
        src="{{ site.url }}{{ site.baseurl }}/assets/img/posts/teamHeadshots/{{post.headshot}}_placehold.jpg"
        data-srcset="{{ site.url }}{{ site.baseurl }}/assets/img/posts/teamHeadshots/{{post.headshot}}_thumb.jpg, {{ site.url }}{{ site.baseurl }}/assets/img/posts/teamHeadshots/{{post.headshot}}_thumb@2x.jpg 2x"
        class="lazyload blur"
        alt="{{post.name}}"
      /> -->
      
      <img
         src="{{ site.url }}{{ site.baseurl }}/assets/img/posts/teamHeadshots/{{post.headshot}}"
         class="lazyload blur"
         alt="{{post.name}}"
       />
    </figure>
  {% else %}
    <figure class="post-card__thumb">
      <div class="dark-bg"></div>
    </figure>
  {% endif %}
  <div class="post-card__inner">
    <div class="post-card__header">
      <h2>{{post.name}}</h2>
      <p class="title">{{post.position}}</p>
    </div>
  </div>
</div>
