---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">

  {% include head.html %}

  <body class="site">

    {% if site.google_tag_manager %}

      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->

    {% endif %}

    {% include header.html %}

    <div class="hero lazyload" data-bg="{{ site.url }}{{ site.baseurl }}/assets/img/{{ site.hero_img }}" id="parallax">
      <div class="hero__wrap">
        <h1 class="hero__title">{{ site.title | escape }}</h1>
        <p class="hero__meta">{{ site.tagline }}</p>
      </div>
    </div>

    <main class="site__content">

<!--       <img src="https://drive.google.com/uc?export=view&id=1sn-ZRrJ0Y70E86-pL6yTFWk6EwkyCrRn" width="250"/>
      <a href="https://drive.google.com/uc?export=view&id=1sn-ZRrJ0Y70E86-pL6yTFWk6EwkyCrRn">
        <img src="https://drive.google.com/uc?export=view&id=1sn-ZRrJ0Y70E86-pL6yTFWk6EwkyCrRn" style="width: 650px; max-width: 100%; height: auto" title="Click to enlarge picture" />
      </a> -->

      <section class="blog">
        <div class="container">
          <div class="post-list" itemscope="" itemtype="http://schema.org/Blog">

            {% for post in site.posts %}
              {% if post.tags contains "homepage" %}
                {% include homeCard.html %}
              {% endif %}
            {% endfor %}

            <div class="person-list" itemscope="" itemtype="http://schema.org/Blog">

            {% for (let i = 0; i < elements.length; i++) %}
              
                {% include homeCard.html %}
              
            {% endfor %}
            <!-- {% include pagination.html %} -->
          </div>
        </div>

      </section>
      
    </main>

    {% include footer.html %}

  </body>

</html>
